html *
{
   font-size: 1em;
   color: #000;
   font-family: "Trebuchet MS", sans-serif;
}

button {
  font-size: 14px;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);a
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 400;
}


/* Add a background color to the top navigation */
#top-nav {
  background-color: #F5FAFA;
  overflow: hidden;
  font-family: "Trebuchet MS", sans-serif;
}

/* Style the links inside the navigation bar */
#top-nav a {
  float: left;
  color: #4E2975;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Add a color to the active/current link */
#top-nav a.active {
  background-color: #4E2975;
  color: white;
}

#bottom-nav {
  background-color: #F5FAFA;
  overflow: hidden;
  font-family: "Trebuchet MS", sans-serif;
}

#bottom-nav a {
  float: left;
  color: #4E2975;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

button {
  font-size: 14px;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);a
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 400;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}



