html *
{
   font-size: 1em;
   color: #000;
   font-family: "Trebuchet MS", sans-serif;
}

button {
  font-size: 14px;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);a
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 400;
}

#root, #personal, #business, #enterprise, #about,
#contact, #faq, #privacy, #security, #legal, #help,
#accessibility {
  height: 90%;
  width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

